<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>WeDecide</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="voters/vendors/feather/feather.css" />
    <link
      rel="stylesheet"
      href="voters/vendors/ti-icons/css/themify-icons.css"
    />
    <link rel="stylesheet" href="voters/vendors/css/vendor.bundle.base.css" />
    <link href="fontawesome/css/all.css" rel="stylesheet" />
    <script defer src="fontawesome/js/all.js"></script>
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="voters/css/vertical-layout-light/style.css" />
    <!-- endinject -->
  </head>

  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
          <div class="row w-100 mx-0">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <h3>Invalid Vouchar</h3>
                <a href="/voter/contest-vote">
                <button                      
                      class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                    >
                        GO BACK
                </button>
              </a>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="voters/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="voters/js/file-upload.js"></script>
    <script src="voters/js/off-canvas.js"></script>
    <script src="voters/js/hoverable-collapse.js"></script>
    <script src="voters/js/template.js"></script>
    <script src="voters/js/settings.js"></script>
    <script src="voters/js/todolist.js"></script>
    <!-- endinject -->
  </body>
</html>
