<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>WeDecide</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="voters/vendors/feather/feather.css" />
    <link rel="stylesheet" href="voters/vendors/ti-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="voters/vendors/css/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      href="voters/vendors/datatables.net-bs4/dataTables.bootstrap4.css"
    />
    <link rel="stylesheet" href="voters/vendors/ti-icons/css/themify-icons.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="voters/js/select.dataTables.min.css"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="voters/css/vertical-layout-light/style.css" />
    <!-- endinject -->
    
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->

        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->

        <!-- partial -->
        <div class="main-panel col-lg-12 col-12">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="row">
                  <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Webcam</h3>
                  </div>
                  <div class="col-12 col-xl-4"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div id="data-div" class="col-md-4 grid-margin stretch-card">
                <video
                  id="webcam"
                  autoplay
                  playsinline
                  width="320"
                  height="240"
                ></video>
                <canvas id="canvas" class="d-none"></canvas>
                <audio
                  id="snapSound"
                  src="audio/snap.wav"
                  preload="auto"
                ></audio>

                <div class="col-md-4" id="results"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 grid-margin transparent">
                <div class="row">
                  <div class="col-md-2 mb-4 stretch-card transparent">
                    <button
                      id="capture"
                      onclick="take_snapshot()"
                      type="button"
                      class="btn btn-primary"
                    >
                      Capture
                    </button>
                  </div>
                  <div class="col-md-2 mb-4 stretch-card transparent">
                    <button id="save" type="button" class="btn btn-primary">
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div
              class="d-sm-flex justify-content-center justify-content-sm-between"
            >
              <span
                class="text-muted text-center text-sm-left d-block d-sm-inline-block"
              >
                Copyright © 2021. Premium
                <a href="https://www.bootstrapdash.com/" target="_blank">
                  Bootstrap admin template
                </a>
                from BootstrapDash. All rights reserved.
              </span>
              <span
                class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
              >
                Hand-crafted & made with
                <i class="ti-heart text-danger ml-1"></i>
              </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script
      type="text/javascript"
      src="voters/js/dist/webcam-easy.min.js"
    ></script>
    <script>
      const webcamElement = document.getElementById('webcam')
      const canvasElement = document.getElementById('canvas')
      const snapSoundElement = document.getElementById('snapSound')
      const capture = document.getElementById('capture')
      const dataDiv = document.getElementById('data-div')
      const save = document.getElementById('save')
      const restart = document.getElementById('restart')
      const webcam = new Webcam(
        webcamElement,
        'user',
        canvasElement,
        snapSoundElement,
      )

      if (
        /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
          navigator.userAgent,
        )
      ) {
        // true for mobile device
        console.log('mobile device')
        dataDiv.innerHTML =
          //'<img src="' + pict + '"/>'
          '<input name="image" type="file" accept="image/*" capture="camera">'
      } else {
        // false for not mobile device
        console.log('not mobile device')
        webcam
          .start()
          .then((result) => {
            console.log('webcam started')
          })
          .catch((err) => {
            console.log(err)
          })

        function capturePic() {
          webcam.snap()
          let picture = webcam.snap()
        }

        function startWebcam() {
          document.getElementById('results').innerHTML = ' '
          webcam
            .start()
            .then((result) => {
              console.log('webcam started')
            })
            .catch((err) => {
              console.log(err)
            })
        }

        function take_snapshot() {
          // take snapshot and get image data
          let pict = webcam.snap()
          console.log(pict)
          document.getElementById('results').innerHTML =
            //'<img src="' + pict + '"/>'
            '<input name="image" type="image" id="image" alt="Login" src="' +
            pict +
            '">'
        }
      }
    </script>

    <script src="voters/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="voters/vendors/chart.js/Chart.min.js"></script>
    <script src="voters/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="voters/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="voters/js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/template.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="js/dashboard.js"></script>
    <script src="js/Chart.roundedBarCharts.js"></script>
    <!-- End custom js for this page-->
  </body>
</html>
